html, body {
    margin: 0;
    height: 100%;
    background-color:rgba(50.000000819563866, 95.00000193715096, 116.00000068545341, 1);
    font-family: "Kode Mono", monospace;
   
    font-optical-sizing: auto;
    font-weight: 32px;
    font-style: normal;
    color: aliceblue;
}
header { 
	background-color:rgba(50.000000819563866, 95.00000193715096, 116.00000068545341, 1);
	width:100%;
	height:10%;
	left:0px;
	top:0px;
    display: flex;
}
.title { 
    flex: 2;
    font-size:42px;
    text-align:center;
}
.empty {
    flex : 1
}
.navbar { 
    flex: 3;
	text-align:center;
	font-size:32px;
} 

.navbar ul{
    display: inline-block;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 1px;
}

.navbar li a:hover {
    border-bottom: 5px solid rgb(241, 182, 5); 
    color: rgb(241, 182, 5);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
  }



footer{ 
    height: 3%;
    text-align:center;
    justify-content: center;
}

@media(max-width: 700px){
    .navbar{
        display: none;
    }
    .empty{
        display: none;
    }
    .footer{
        display: none;
    }
}