html, body {
    margin: 0;
    height: 100%;
    background-color:rgba(50.000000819563866, 95.00000193715096, 116.00000068545341, 1);
    font-family: "Kode Mono", monospace;
   
    font-optical-sizing: auto;
    font-weight: 32px;
    font-style: normal;
    color: aliceblue;
}

.btn-two {
    z-index: 1;
    color: #FFF;
    transition: all 0.5s;
    position: absolute; 
    top: 50%;
    left: 50%;
    height: 10%;
    width: 25%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.btn-two a {
    z-index: 2; 
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%; 
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}
.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.2);
}
.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.2);
}
.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
}

.resume{
    opacity: 0.2;
    position: absolute;
    max-width: 100%;
}